/************* your name: ZEYNEP CAMGOZ 

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/


/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


/* TO DO: all elements with the .flex class applied are to be made into flex-box containers. */

.flex {
    display: flex;
}



/************* site-wide text styling *************/

/* TO DO:
    - first-level headings are size 48px, centered ??vertically and horizontally in the available space.
    - 2nd-level headings have a font size of 36px, and 12px of space below.
    - any element with the .large-text class has a font size of 24px.
    - any element with the .fake-button class will have a background colour of mustard yellow (see colour palette above), be center aligned, with a line-height of 3 and a solid black border that is 1px wide.
    - all anchors will have the underline removed and be black in colour. all anchors in the main and footer sections will be underlined in their hover-state.
    - the hover-state of .fake-button and .blue-hover elements will:
        - add an underline, 
        - set the background-colour to cornflower blue (see colour palette above),
        - change the text colour to white, and 
        - change the cursor to pointer.
*/

/* setting h1 font size to 48px and alingning text to the center.*/
h1 {
    font-size: 48px;    
    text-align: center;      
}

/* setting font size to 36px and margin bottom to 12px. */
h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

/* setting large-text font size to 24px. */
.large-text {
    font-size: 24px;
}

/* setting fake button background to the color of #E5AF42. text align to center, line height to 3 and border to 1px solid black.*/
.fake-button {
    background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid black;

}

/* setting anchors color to black and text decoration to none. */
a { 
    text-decoration:none;
    color: black;
}

/* setting main and footer underlined in their hover-state.*/
main a:hover,
footer a:hover {
    text-decoration: underline;
}

/* setting the hover-state of .fake-button and .blue-hover elements to have underline, background color of cornflower  blue, text color to with and cursor to pointer.*/
.fake-button:hover,
.blue-hover:hover {
    text-decoration: underline;
    background-color: #4278e5; 
    color: white;
    cursor: pointer;
}



/************* header/footer styling *************/

/* TO DO:
    - the header and footer will be the same mustard-yellow as the buttons.
    - the header is 150px tall.
    - the header image is 100px wide and tall with 25px of space above, below, and on its left, and the top-level heading is centered in the remaining width.
    - there will be 25px of space between the header and main, and 50px of space between main and footer.
    - the footer will be 60px tall, have a font-weight of 200, and the text within will be centered vertically and horizontally.
*/

/* setting mustard-yellow color as a background. */
header,
footer {
    background-color: #E5AF42; 
}

/* setting header height to 150px and margin-bottom to 25px  creating the space between header and the main.*/
header {
    height: 150px;
    margin-bottom: 25px;
}

/* setting h1 in header marginto auto, centering it within the webpage. */
header h1 {
    margin: auto;
}

/* setting header image width and height to 100px and setting the margin. */
header img {
    width: 100px;
    height:100px;
    margin: 25px 0px 25px 25px;
}

/* setting footer height to 60px font weight tp 200, text align to center and margin top to 50px to create the space between main and footer.*/
footer {
    height: 60px;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}
  



/************* index page *************/

/* TO-DO: 
    - this is a 2-column layout: text on the left, and an image on the right. The image will be 300px wide, with 25px between it and the text column, which takes up the remaining space. The image will also have 50px of space below.
    - the h2 on this page will have a line-height equal to the font size.
    - each paragraph on this page will have 12px of space beneath it.
    - each fake-button on this page will be 250px wide with 150px of space between them.
    - the pair of fake-buttons will be centered on the page. HINT: can calculate the required margin to make them appear to be centered.
*/

/* setting index image width to 300px and margin bottom to 50px.*/
.index img {
    width: 300px;
    margin-bottom: 50px;
}

/* setting h2 in the index page to line height 36px.*/
.index h2 {
    line-height: 36px;
}

/* setting index paragprah to margin bottom 12px. */
.index p {
    margin-bottom: 12px;
}

/* setting fake-button text align to center, width to 250px and margin right to 150px.*/
.flex .fake-button {
    text-align: center;
    width: 250px;
    margin-right: 150px;
}

/* setting margin-left for fake-button. */
.flex .fake-button {
    margin-left: 100px;
}

/* text alignment for the index page. */
.about-us p {
    margin-right: 25px;
  }

/* centering the buttons */

/************* bookings page *************/

/* TO-DO:
    - the contents of the booking-page will be 600px wide, and all content centered within the available space.
    - text will have a size of 18px.
    - there will be 12px of space below the day-selectors, and 20px of space between each list item. List items are 60px wide.
    - List items & the small-button elements will have a solid black border that is 1px wide. ?? Small-buttons will also have 5px of space between the border and the content.
    - items tagged with .top-margin will have 24 px of space above, and 12px of space below.
    - the "clear days" button will be 200px wide.
    - any element tagged with the .clicked class will turn mustard yellow. **This will be very important for your JavaScript.**
    - all items within the page will be centered within their available space.

*/

/* setting booking page width to 600px, text align to center, margin to auto and font size to 18px.*/
.booking-page {
    width: 600px;         
    text-align: center; 
    margin: auto;  
    font-size: 18px;
}

/* setting list in booking page gap to 20px margin bottom to 12px and justify content to center.*/
.booking-page ul {
    justify-content: center;
    gap: 20px;
    margin-bottom: 12px;
}

/* setting list elements width to 60px and centering them.*/
li {
    width: 60px;
    text-align: center;
}

/* setting border 1px solid blcack */
li, .small-button {
    border: 1px solid black;
    padding: 0px 5px 0px 0px;
}

/* setting margin top to 24px and margin bottom to 24px.*/
.top-margin {
    margin-bottom: 24px;
    margin-top: 12px;
}
 /* centering the booking page elements */
.booking-page #clear-button {
    width: 200px;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 50px;

}

/* setting booking page .clicked background color to #E5AF42. */
.booking-page .clicked {
    background-color: #E5AF42;

}

/************* contact page *************/
/* TO DO:
    - the main section of the .contact page will be 420px tall, and centered.
    - the contents will be 2 columns: the labels column is 150px wide and right-aligned, and the input column is 300px wide. There will be 24px of space between the columns, and the pair of columns will be centered on the page.
    - the textarea element will be 150px tall.
    - all form input, textarea, and and button elements will have the same font as the rest of the page, a line-height of 24px, a font-size of 16px, and the same border as other buttons on the site. There will be 24px of space below each of these elements.
    - the edges of the button will line up exactly with the text-area element. HINT: time for some math!
*/


/* setting contact oage height to 420px and text align to center.*/
.contact-page {
    height: 420px;
    text-align: center;

}

/* setting contact label width to 150px, text align to right and margin right to 24px. */
.contact label {
    width: 150px;
    text-align: right;
    margin-right: 24px;
}

/* setting contact input width to 300px */
.contact input {
    width: 300px;
}

/* contact textarea height 150px, width to 300px and margin bottom to 30px. */
.contact textarea {
    height: 150px;
    width: 300px;
    margin-bottom:30px;
}

/* setting the contact form input contact-page textarea and contaxt-page button. font family, line height, font size, border and margin bottom. */
.contact form input, 
.contact-page textarea,
.contact-page button {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid black;
    margin-bottom: 24px;
}

/* setting contact form align items to center, flex direction to column and siplay to flex. */
.contact form  {
    align-items: center;
    flex-direction:column;
    display: flex;
}

/* .contact button width 308px and margin left 175px. */
.contact button {
    width: 308px;
    margin-left: 175px;
}

/* setting contact page h2 margin-left to 230p`x . */
#contact-page h2 {
    margin-left: 230px;
}